---
import { Icon } from "astro-icon/components";
import UnderlineHoverLink from "../mdx/UnderlineHoverLink.astro";
import { siteConfig } from "../../utils/siteConfig";
const base = import.meta.env.BASE_URL;
---

<footer class="styled-footer" transition:persist>
	<div class="footer-content">
		<div class="rss-feed">
			<h3>Want to stay up to date?</h3>
			<a href={`${base}rss.xml`}>
				<button>
					<Icon name="heroicons:rss-20-solid" size={20} />
					Subscribe via RSS Feed
				</button>
			</a>
			{
				siteConfig.socialLinks.length > 0 && (
					<div class="social-media-icons">
						{
							siteConfig.socialLinks.map((link) => (
								<a rel="me" href={link.href}>
									<Icon name={link.icon} size={32} />
								</a>
							))
						}
					</div>
				)
			}
			<span class="copyright">
				© {new Date().getFullYear()} {siteConfig.title}
			</span>
		</div>
		<ul class="sitemap-list">
			{
				[
					{ text: "Root Notes", slug: "/garden" },
					{ text: "Prose", slug: "/essays" },
					{ text: "About", slug: "/about" },
					{ text: "Scratchpad", slug: "/notes" },
					{ text: "Now", slug: "/now" },
					{ text: "Riffs", slug: "/patterns" },
					{ text: "Podcasts", slug: "/podcasts" },
					{ text: "PoeticMayhem", slug: "/talks" },
					{ text: "Sticky Notes", slug: "/smidgeons" },
					{ text: "Colophon", slug: "/colophon" },
					{ text: "Shelf", slug: "/library" },
				].map((link) => (
					<li>
						<span>
							<UnderlineHoverLink href={link.slug}>{link.text}</UnderlineHoverLink>
						</span>
					</li>
				))
			}
		</ul>
	</div>
</footer>

<style>
	.social-media-icons {
		display: flex;
		align-items: center;
		margin: var(--space-m) 0 var(--space-2xs);
		grid-gap: var(--space-xs);
	}

	.social-media-icons a {
		color: var(--color-gray-400);
		padding: 0;
		margin: 0;
		display: block;
	}

	.social-media-icons [data-icon] {
		color: var(--color-gray-500);
		transition: all 0.3s ease-in-out;
	}

	.social-media-icons a:hover [data-icon] {
		color: var(--color-crimson);
	}

	.rss-feed h3 {
		font-size: var(--font-size-md);
		font-family: var(--font-body);
		font-weight: 500;
		margin-bottom: var(--space-xs);
		color: var(--color-gray-800);
	}

	.rss-feed button {
		display: inline-flex;
		margin-left: -0.1rem;
		align-items: center;
		gap: var(--space-3xs);
		padding: var(--space-3xs) 1.2rem;
		background: var(--color-light-cream);
		border: 1px solid var(--color-crimson);
		border-radius: 999px;
		font-family: var(--font-sans);
		font-size: var(--font-size-sm);
		font-weight: 600;
		color: var(--color-crimson);
		box-shadow: var(--box-shadow-sm);
		transition: all 0.2s ease-in-out;
	}

	.rss-feed button:hover {
		cursor: pointer;
		color: var(--color-light-cream);
		background: var(--color-crimson);
		border: 1px solid var(--color-crimson);
		box-shadow: var(--box-shadow-md);
	}

	.rss-feed .copyright {
		font-size: var(--font-size-xs);
		font-family: var(--font-sans);
		font-weight: 400;
		color: var(--color-gray-500);
	}

	.sitemap-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		list-style: none;
		grid-gap: var(--space-3xs) var(--space-l);
		padding-inline-start: 0;
	}

	.sitemap-list li span :global(.styled-link span) {
		color: var(--color-gray-600);
		font-size: var(--font-size-sm);
		font-family: var(--font-sans);
		display: block;
	}

	.footer-content {
		display: grid;
		grid-template-columns: 2fr 1fr;
		max-width: 1200px;
		margin: var(--space-xl) auto;
		padding: 0 var(--space-xl);
		gap: var(--space-l);
	}

	@media (max-width: 768px) {
		.footer-content {
			margin: var(--space-m) auto;
			padding: 0 var(--space-m);
			grid-template-columns: 1fr;
		}
	}

	@media (max-width: 480px) {
		.footer-content {
			margin: var(--space-xs) auto;
			padding: 0 var(--space-xs);
			grid-template-columns: 1fr;
		}
	}

	.styled-footer {
		padding: var(--space-2xl) 0;
		border-top: 1px solid var(--color-tinted-cream);
		background: linear-gradient(180deg, var(--color-light-cream) 0%, var(--color-cream) 100%);
		z-index: -1;
	}
</style>
